.header {
  display: flex;
  justify-content: center;
}

.container {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 100px;
}

.links a {
  padding: 10px;
  margin: 5px;
}